{% extends "calculation_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
{#            {% if advert_class %}#}
{#            <label class="border-bottom mb-4">Edit announcement</label>#}
{#            {% else %}#}
            <label class="border-bottom mb-4">Add announcement</label>
{#            {% endif %}#}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" name="button" value="form_btn">Zatwierdź</button>
        </div>
    </form>
{% endblock content %}