{% extends "calculation_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form action="#" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Waste Code</legend>
                <h2>Are you sure you want to delete the waste code: {{ object.waste_codes.code }}"</h2>
                <h3>Description: {{ object.waste_codes.description }}</h3>
                <p>Waste Mass: {{ object.waste_mass }} Mg</p>

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
{#                <a class="btn btn-outline-secondary" href="{% url 'calculation-detail' calculation.id %}">Cancel</a>#}
            </div>
        </form>
    </div>
{% endblock content %}