{% extends "calculation_app/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ calculation.client.name }}</a>
            </div>
            <h2 class="article-title">Długość kontraktu; {{ calculation.contract_duration }}</h2>
            <h3 class="article-title">Deadline: {{ calculation.offer_deadline }}</h3>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Waste Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Waste Mass[Mg]</th>
                </tr>
                </thead>
                <tbody>
                {% for i in calculation.masswaste_set.all %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ i.waste_codes.code }}</td>
                        <td>{{ i.waste_codes.description }}</td>
                        <td>{{ i.waste_mass }}</td>
                        <td><a href="{% url 'code-delete' i.pk %}">Delete Code</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'code-add' %}">Add Code</a>
        </div>

    </article>

{% endblock %}