{% extends "calculation_app/base.html" %}

{% block content %}
    {% for client in clients %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ client.name }}</a>
{#              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
            </div>
            <h2><a class="article-title" href="{% url 'client-detail' client.id %}">{{ client.name }}</a></h2>
            <p class="article-content">{{ client.get_segment_display }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}