{% extends "calculation_app/base.html" %}

{% block content %}
    {% for subcontractor in subcontractors %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ subcontractors.name }}</a>
{#              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
            </div>
            <h2><a class="article-title" href="{% url 'subcontractor-detail' subcontractor.id %}">{{ subcontractor.name }}</a></h2>
              <ul>
                {% for code in subcontractor.waste_code.all %}
                   <li>{{ code }}</li>
                {% endfor %}
              </ul>
          </div>
        </article>
    {% endfor %}
{% endblock %}